<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>SoldierDeath1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {50, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{50, 32}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 44}, {50, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SoldierDeath2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {50, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{50, 24}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 50}, {50, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SoldierDeath3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {50, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{50, 12}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 74}, {50, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SoldierDeath4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 46}, {36, 4}}</string>
			<key>spriteOffset</key>
			<string>{3, -23}</string>
			<key>spriteSize</key>
			<string>{36, 4}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 76}, {36, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>Soldier.png</string>
	</dict>
</dict>
</plist>
