<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>FactoryDying1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {138, 148}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{138, 148}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 298}, {138, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>FactoryDying2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {144, 150}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{144, 150}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 148}, {144, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Factory.png</string>
	</dict>
</dict>
</plist>
